
/** {
  border-style: ridge;
  border-width: thin;
  border-color: red;
}*/

body  {
  /*background: #66daa7;*/
  /*display: flex;*/
}

.pageBackground  {
  background-color: #8cd2d4;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
}

.pageBackground2  {
  background-color: #8cd2d4;
  display: flex;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 10px;
}

.TitleHeader  {
  background-color: white;
  text-align: center;
  padding: 5px;
}

.TitleHeaderText  {
  background-color: white;
  margin-top: 10px;
  padding: 10px;
}

.mainContentBox {
  background-color: white;
  width: 25%;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

 .h3Main  {
   background-color: #e27fdd;
   text-align: center;
   padding-top: 5px;
   padding-bottom: 5px;
   margin-top: 10px;
   margin-right: 0px;
   margin-left: 0px;
 }
